
.icon{
             font-family: "Edu NSW ACT Hand Pre", cursive;
         color: var(--primary-color) !important;

 
}
p , h5 , label , input{
         font-family: "Edu NSW ACT Hand Pre", cursive;

}
.btn{
    background-color: var(--primary-color);
             font-family: "Edu NSW ACT Hand Pre", cursive;

}

.btn:hover {
    border: 0.2rem solid var(--primary-color) !important;
    background-color: transparent !important;
    color: var(--primary-color) !important;
    font-weight: bold !important;
    font-size: 1.1rem;
}
.text-primary{
    color: var(--primary-color) !important;

}