<div class="container my-5">

  <div class="row px-3 mb-4 pt-5 mt-5">
    <div class="col d-flex">
      <h3 class="fw-bold">الأخبار</h3>
      <a href="" class="ms-auto">عرض الكل</a>
    </div>
  </div>

  <div class="card mb-4" *ngFor="let New of News">
    <div class="row g-0 align-items-center">

      <div class="col-lg-3 col-md-4 col-12 text-center">
        <img [src]="New.image" class="img-fluid rounded-start" alt="news-image">
      </div>

      <div class="col-lg-9 col-md-8 col-12">
        <div class="p-3">
          <h5 class="card-title mb-1">{{ New.Heading }}</h5>

          <p class="card-text text-align-justify summary">
            {{ New.Summary }}
          </p>

          <p class="card-text">
            <small class="text-body-secondary mb-0">{{ New.Date }}</small>
          </p>
        </div>
      </div>

    </div>
  </div>

</div>
