.icon {
    color: var(--primary-color) !important;
}

h4, p {

    font-family: "Edu NSW ACT Hand Pre", cursive;
    color: var(--primary-color) !important;
}

.fs-6 {
    font-size: 0.8rem !important; 
}

@media (min-width: 768px) {
    .fs-6 {
        font-size: 1rem !important;  
    }
}

@media (min-width: 992px) {
    .fs-6 {
        font-size: 1.2rem !important; 
    }
}
