<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-start py-3  border-top">

        <div class="col-md-4 d-flex align-items-center flex-column">
            <h4 class=" fw-bold fs-5 fs-lg-6  "> حزب الجبهة الوطنية</h4>
            <p class=" fs-6 "> محافظة السويس، أمانة قسم فيصل </p>
        </div>

        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">

            <!-- Instagram -->
            <li class="ms-3">
                <a class="text-body-secondary" href="#" target="_blank">
                    <i class="fa-brands fa-instagram fs-6 fs-md-1  icon"></i>
                </a>
            </li>

            <!-- Facebook -->
            <li class="ms-3">
                <a class="text-body-secondary" href="https://www.facebook.com/profile.php?id=61581427034277"
                    target="_blank">
                    <i class="fa-brands fa-facebook fs-6 fs-md-1 icon"></i>
                </a>
            </li>

            <!-- TikTok -->
            <li class="ms-3">
                <a class="text-body-secondary" href="#" target="_blank">
                    <i class="fa-brands fa-tiktok fs-6 fs-md-1 icon"></i>
                </a>
            </li>

            <!-- Gmail -->
            <li class="ms-3">
                <a class="text-body-secondary" href="#" target="_blank">
                    <i class="fa-solid fa-envelope fs-6 fs-md-1 icon"></i>
                </a>
            </li>

            <!-- X (Twitter) -->
            <li class="ms-3">
                <a class="text-body-secondary" href="#" target="_blank">
                    <i class="fa-brands fa-x-twitter fs-6 fs-md-1 icon"></i>
                </a>
            </li>

        </ul>
    </footer>
</div>