<nav class="navbar navbar-expand-md fixed-top navbar-dark  m-4 rounded-pill ps-5 d-flex justify-content-between " data-aos="fade-zoom-in"
    data-aos-easing="ease-in-back" data-aos-delay="200" data-aos-offset="0">
 
    <a href="#"  > <img src="../../../assets/Logo.png" alt="" class="w-25" >  </a>
    <button class="navbar-toggler ms-3" type="button" 
          data-bs-toggle="collapse" 
          data-bs-target="#navbarContent" 
          aria-controls="navbarContent" 
          aria-expanded="false" 
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
            <li class="nav-item me-2 fs-5">
                <a class="nav-link active text-white-50 fw-bold" aria-current="page" routerLink='Home'>الرئيسية</a>
            </li>
            <li class="nav-item me-2 fs-5">
                <a class="nav-link text-white-50" routerLink='About'>من نحن </a>
            </li>
            <li class="nav-item me-2 fs-5">
                <a class="nav-link text-white-50" routerLink='AllMembers'>الأعضاء </a>
            </li>
            <li class="nav-item me-2 fs-5">
                <a class="nav-link text-white-50" routerLink='AllNews'> الأخبار </a>
            </li>
            <li class="nav-item me-2 fs-5">
                <a class="nav-link text-white-50" routerLink='AllEvents'> الفاعليات </a>
            </li>
        </ul>
        <button type="button"  *ngIf="!authService.isAdmin()" class="btn btn-primary rounded-pill me-3 px-5 py-3 text-light border-0 " routerLink="ContactUs">تواصل معنا</button>
        <button type="button"  *ngIf="authService.isAdmin()" class="btn btn-primary rounded-pill me-3 px-5 py-3 text-light border-0 " (click)="logout()">تسجيل الخروج </button>

    </div>
   
</nav>

