
.w-25 {
    width: 4rem !important;
}

.navbar {
    background-color: rgba(180, 180, 187, 0.422);
         font-family: "Edu NSW ACT Hand Pre", cursive;

}

.btn {
    background-color: var(--primary-color) !important;
    font-size: 1.1rem;
}

.nav-link:hover {
    color: var(--primary-color) !important;
    font-weight: bold;
}

.btn:hover {
    border: 0.2rem solid var(--primary-color) !important;
    background-color: transparent !important;
    color: var(--primary-color) !important;
    font-weight: bold !important;
    font-size: 1.1rem;
}

@media (max-width:425px) {
    .navbar {
        border-radius: 0% !important;
        margin: 0% !important;
        background-color: rgba(70, 70, 70, 0.774);

    }

    .navbar-toggler {
        margin-left: 0px !important;
    }

    nav {
        padding-left: 1rem !important;
    }

    .btn {
        background-color: transparent !important;
        padding: 0% !important;

    }
}