.btn-success{
     background-color: var(--primary-color);
     border: none !important;
}
.btn:hover {
    border: 0.2rem solid var(--primary-color) !important;
    background-color: transparent !important;
    color: var(--primary-color) !important;
    font-weight: bold !important;
    font-size: 1.1rem;
}
h3 , h2{
    color: var(--primary-color) !important;
}
p , h2 ,h3 , label , option , select{
     font-family: "Edu NSW ACT Hand Pre", cursive;
  
}