

<div class="my-5 py-5">

<select
  class="form-select w-25 mb-4 my-5 mx-auto"
  [(ngModel)]="selectedType"
>
  <option value="" disabled selected>اختاري النوع</option>
  <option value="messages">الرسائل </option>
  <option value="membership">طلبات العضوية </option>
</select>

</div>

<!-- ================= MESSAGES ================= -->
<div *ngIf="selectedType === 'messages'" class="container my-5">
  <h3 class="text-center fw-bold">الرسائل</h3>

  <div class="card mb-4 p-3" *ngFor="let mess of messages">
    <h5>{{ mess.FullName }}</h5>
    <p>{{ mess.Email }}</p>
    <p>{{ mess.Phone }}</p>
    <p>{{ mess.Message }}</p>
  </div>
</div>

<!-- ================= MEMBERSHIP ================= -->
<div *ngIf="selectedType === 'membership'" class="container my-5">
  <h3 class="text-center fw-bold">طلبات العضوية</h3>

  <!-- هنا حطي كود الـ Membership -->
  <p class="text-center text-muted">سيكشن العضوية</p>
</div>
