<div class="mt-5 pt-5">
<select
  class="form-select w-25 mb-4 my-5 mx-auto"
  [(ngModel)]="selectedType"
>
  <option value="" disabled selected>اختاري النوع</option>
  <option value="messages">الرسائل </option>
  <option value="membership">طلبات العضوية </option>
</select>

</div>

<!-- ================= MESSAGES ================= -->
<div *ngIf="selectedType === 'messages'" class="container my-4">
  <h3 class="text-center fw-bold mb-4"> الرسائل</h3>

  <div class="table-responsive">
    <table class="table table-bordered table-hover align-middle">
      <thead class="table-dark text-center">
        <tr>
          <th>الاسم</th>
          <th>الإيميل</th>
          <th>الهاتف</th>
          <th>الرسالة</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let mess of messages">
          <td>{{ mess.FullName }}</td>
          <td>{{ mess.Email }}</td>
          <td>{{ mess.Phone }}</td>
          <td>{{ mess.Message }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<!-- ================= MEMBERSHIP ================= -->
<div *ngIf="selectedType === 'membership'" class="container my-5">
  <h3 class="text-center fw-bold">طلبات العضوية</h3>

  <!-- هنا حطي كود الـ Membership -->
  <p class="text-center text-muted">سيكشن العضوية</p>
</div>
