h2 ,label ,input {
         font-family: "Edu NSW ACT Hand Pre", cursive;
color: var(--primary-color) !important;
}

.btn {
    background-color: var(--primary-color) !important;
    font-size: 1.1rem;
}


.btn:hover {
    border: 0.2rem solid var(--primary-color) !important;
    background-color: transparent !important;
    color: var(--primary-color) !important;
    font-weight: bold !important;
    font-size: 1.1rem;
}
