<!-- <div class=" vh-100 d-flex flex-row justify-content-around">
 <div class="pt-5">
  <h1 class="fs-1 text-center px-5 icon pb-1 fw-bolder pb-5">الأعضاء  </h1>
 
  <h4 class="fs-1 text-center card-text">أحمد غريب </h4>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text"><small>Last updated 3 mins ago</small></p>
 </div>
   
    <img src="../../../assets/66547699481-removebg-preview.png" alt="" class=" w-25 h-75">
  
</div> -->