<h4 class="mt-5 pt-5 pb-2">استمارة العضوية</h4>
<p >
نشكرك على اهتمامك بالانضمام إلى حزب الجبهة الوطنية، يرجى تعبئة البيانات التالية للتقديم للعضوية.</p>
<div class="alert alert-warning mx-5  " role="alert">
 
شروط التقدم للعضوية
<ol class=" list-group-numbered ">
  <li class="list-group-item">أن يكون مصريأ واذاكان متجنسأ فيجب أن يكون قد مضي علي تجنسه خمس سنوات علي الأقل، و يشترط فيمن يشترك في تأسيس الحزب أو من يتولى منصبآ قياديأ فيه أن يكون من أب مصري.
</li>
  <li class="list-group-item">أن يكون قد أتم الثامنة عشر من عمره،
</li>
  <li class="list-group-item">ان لا يكون منتميأ لعضوية حزب اخر عند تقديم طلب العضوية
</li>
<li class="list-group-item">أن يكون متمتعا بحقوقه السياسية كاملة و أن لا يكون من الفئات المحرومة من مباشرة الحقوق السياسية طبقأ لأحكام القانون.
</li>
</ol>

</div>
<p>
    سيتم التواصل معكم بعد استلام الطلب لتأكيد البيانات.

ملاحظة: جميع البيانات المدخلة سرية ولن يتم مشاركتها مع أي جهة.

الرجاء التأكد من صحة البيانات المدخلة.</p>


<form class="row g-3 my-5 mx-5 py-5">
  <div class="col-md-6">
    <label for="name" class="form-label">الأسم الرباعي </label>
    <input type="email" class="form-control" id="name">
  </div>
  <div class="col-md-6">
    <label for="inputPassword4" class="form-label">تاريخ الميلاد</label>
    <input type="date" class="form-control" id="inputPassword4">
  </div>
  <div class="col-md-4">
    <label for="inputState" class="form-label">النوع</label>
    <select id="inputState" class="form-select">
      <option selected>ذكر</option>
      <option>أنثى</option>
    </select>
  </div>
  <div class="col-md-4">
    <label for="inputState" class="form-label">الحالة الاجتماعية</label>
    <select id="inputState" class="form-select">
      <option selected>أعزب</option>
      <option>متزوج</option>
      <option>مطلق</option>
      <option>أرمل</option>
    </select>
  </div>
  <div class="col-12">
    <label for="inputAddress" class="form-label">العنوان</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
  </div>
  <div class="col-12">
    <label for="inputAddress2" class="form-label"> الوحدة الحزبية </label>
    <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
  </div>
  <div class="col-md-4">
    <label for="inputState" class="form-label">المحافظة </label>
    <select id="inputState" class="form-select">
      <option selected>السويس</option>
      
    </select>
    <div class="col-md-4">
    <label for="inputState" class="form-label">القسم / المركز  </label>
    <select id="inputState" class="form-select">
      <option selected>السويس</option>
      <option>الجناين</option>
      <option>عتاقة </option>
      <option>العين السخنة  </option>
      <option>فيصل </option>
    </select>
  </div>
  </div>
   <div class="col-12">
    <label for="inputAddress2" class="form-label"> الهاتف المحمول  </label>
    <input type="tel" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
  </div>
   <div class="col-12">
    <label for="inputAddress2" class="form-label"> البريد الالكترونى  </label>
    <input type="email" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
  </div>
  <div class="col-md-6">
    <label for="inputCity" class="form-label">الرقم القومى </label>
    <input type="text" class="form-control" id="inputCity">
  </div>
  
  <div class="col-md-6">
    <label for="inputPassword4" class="form-label">تاريخ الانتهاء</label>
    <input type="date" class="form-control" id="inputPassword4">
  </div>
  
<div class="input-group mb-3">
  <input type="file" class="form-control" id="inputGroupFile02">
  <label class="input-group-text" for="inputGroupFile02">Upload</label>
</div>

<div class="input-group mb-3">
  <input type="file" class="form-control" id="inputGroupFile02">
  <label class="input-group-text" for="inputGroupFile02">Upload</label>
</div>

<div class="input-group mb-3">
  <input type="file" class="form-control" id="inputGroupFile02">
  <label class="input-group-text" for="inputGroupFile02">Upload</label>
</div>
    <div class="col-md-4">
    <label for="inputState" class="form-label">المؤهل الدراسى </label>
    <select id="inputState" class="form-select">
      <option selected>مؤهل عالى </option>
      <option>مؤهل متوسط </option>
      <option>بدون مؤهل  </option>
    </select>
  </div>
      <div class="col-md-4">
    <label for="inputState" class="form-label">الدرجة العلمية الأعلى   </label>
    <select id="inputState" class="form-select">
      <option selected>لا يوجد </option>
      <option>ماجستر </option>
      <option>دكتوراه </option>
     
    </select>
  </div>
  <div class="col-md-2">
    <label for="inputZip" class="form-label">المهنة  / الوظيفة</label>
    <input type="text" class="form-control" id="inputZip">
  </div>
  <div class="col-md-2">
    <label for="inputZip" class="form-label">عنوان جهة العمل </label>
    <input type="text" class="form-control" id="inputZip">
  </div>
  <div class="col-md-2">
    <label for="inputZip" class="form-label">جهة العمل </label>
    <input type="text" class="form-control" id="inputZip">
  </div>
        <div class="col-md-4">
    <label for="inputState" class="form-label">هل كنت عضو بأي حزب سياسي سابقا     </label>
    <select id="inputState" class="form-select">
      <option selected>لا  </option>
      <option>نعم </option>     
    </select>
  </div>
          <div class="col-md-4">
    <label for="inputState" class="form-label">هل كنت بأي المجالس النيابية سابقا أو حاليا؟</label>
    <select id="inputState" class="form-select">
      <option selected>لا  </option>
      <option>نعم </option>     
    </select>
  </div>
  <div class="col-md-4">
    <label for="inputState" class="form-label">عضوية النقابات</label>
    <select id="inputState" class="form-select">
      <option selected>لا  </option>
      <option>نعم </option>     
    </select>
  </div>
  <div class="col-md-4">
    <label for="inputState" class="form-label">   هل حصلت على اوسمة او جوائز </label>
    <select id="inputState" class="form-select">
      <option selected>لا  </option>
      <option>نعم </option>     
    </select>
  </div>

  <div class="col-12">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck">
      <label class="form-check-label" for="gridCheck">
         أوافق على شروط التقدم للعضوية
      </label>
    </div>
  </div>
  <div class="col-12">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck">
      <label class="form-check-label" for="gridCheck">
         أقر بإطلاعى التام على النظام الاساسى للحزب وإلتزامى بلائحتة الداخلیة و المتضمن شروط العضوية كما اقر بأن كافة البیانات المذكورة في ھذه الاستمارة صحیحة وعلى مسؤلیتى الشخصیة
      </label>
    </div>
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">إرسل طلب العضوية </button>
  </div>
</form>