*{
   font-family: "Edu NSW ACT Hand Pre", cursive;
}
.icon{
    
         font-family: "Edu NSW ACT Hand Pre", cursive;
         color: var(--primary-color) !important;

 
}
.progress-bar{
    background-color: var(--primary-color);
}
.btn-primary{
    background-color: var(--primary-color);
}
.btn:hover {
    border: 0.2rem solid var(--primary-color) !important;
    background-color: transparent !important;
    color: var(--primary-color) !important;
    font-weight: bold !important;
    font-size: 1.1rem;
}