h3 , i{
    color: var(--primary-color) !important;
}

p , h5 ,h3 , button{
     font-family: "Edu NSW ACT Hand Pre", cursive;
  
}
.text-align-justify{
    text-align: justify;
}
a{

    font-family: "Edu NSW ACT Hand Pre", cursive ;
    color: var(--primary-color) !important;
}
.bg-dark { 
        background-color:    #F5F6F8 !important ;
      
 }
 
 .card {
         background: #fff;
         transition: 0.3s ease;
         box-shadow: 0.5rem 0.5rem 0.5rem rgb(129, 129, 129);
 }

 .card:hover {
         transform: translateY(-8px);
         box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
 }
 
.btn {
    background-color: var(--primary-color) !important;
    box-shadow: 0 0.6rem 0.4rem rgba(0, 0, 0, 0.15) !important;
   
}
.text-justify{
    text-align: justify;
}
.btn:hover {
    border: 0.2rem solid var(--primary-color) !important;
    background-color: transparent !important;
    color: var(--primary-color) !important;
    font-weight: bold !important;
    font-size: 1.1rem;
}