h3 , i{
    color: var(--primary-color) !important;
}

p , h5 ,h3 , button{
     font-family: "Edu NSW ACT Hand Pre", cursive;
  
}
.text-align-justify{
    text-align: justify;
}
a{

    font-family: "Edu NSW ACT Hand Pre", cursive ;
    color: var(--primary-color) !important;
}
.bg-dark { 
        background-color:    var(--section-color) !important ;
      
 }
 
 .card {
         background: #fff;
         transition: 0.3s ease;
         box-shadow: 0.5rem 0.5rem 0.5rem rgb(129, 129, 129);
 }

 .card:hover {
         transform: translateY(-8px);
         box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
 }
 

.text-justify{
    text-align: justify;
}
