
@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&display=swap');

body {
  font-family: 'Amiri', serif;
}
:root{
    --primary-color:#003366;
    --secandary-color: #ffe4c4;

}